<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>删除或修改账户</title>
  </head>
  <body>
    <div class="container">
            <div class="col">
              <form class="form-login" action="/change_my_account" method="post">
                  <h3 class="text-center">更改账户信息</h3>
                  <div class="form-group">
                    <label for="Account_ID">账户号：</label>
                    <input type="text" name='Account_ID' class="form-control" id="Account_name" placeholder="Account_name" autofocus required>
                  </div>
                  <select class="form-control" id="taskTypeSelect" name="task_type">
                    <option selected="" name="taskTypeSelect">选择您对账户进行的操作</option>
                        <option value='add' name="task_type">增加余额</option>
                        <option value='reduce' name="task_type">减少余额</option>
                        <option value='join' name="task_type">加入账户</option>
                        <option value='delete' name='task_type'>删除账户</option> 
                    </select>
                  <div class="form-group">
                    <label for="number">增加/减少的金额</label>
                    <input type="number" name='number' class="form-control" id="number" placeholder="number" required>
                  </div>
                  
                <div>
                  <a href="/change_user_info" class="text-success "><ins>更改用户信息</ins></a>
                  <button type="submit" class="btn btn-primary float-right">更改账户信息</button>
                </div>

              </form>
            </div>
    </div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {#    以下三者的引用顺序是固定的#}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>