<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>账户信息</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Hello {{name}}!</h1>
<div class="table-responsive">
	<table class="table table-hover table-dark">
        <thead>
          <tr>
            <th> 账户号</th>
            <th> 开户日期</th>
            <th> 上次访问日期</th>
            <th> 开户银行</th>
            <th> 余额</th>
            <th> 账户类型</th>
          </tr>
        </thead>
        <tbody>
            {% for item in items %}
          <tr>
            <td>{{item.account_ID}}</td>
            <td>{{item.open_date}}</td>
            <td>{{item.last_visit_date}}</td>
            <td>{{item.open_bank}}</td>
            <td>{{item.Account_savings}}</td>
            <td>{{item.Account_type}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
</div>  	

</body>
</html>
<!-- <html>
  <table class="table stats-table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Description</th>
            <th>Bit</th>
            <th>Version</th>
            <th>Status</th>
            <th>Download</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pkg_items %}
        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.bit }}</td>
            <td>{{ item.version }}</td>
            <td>{{ item.type.name }}</td>
            <td><a class='download' href='{{item.url}}'><span class="label label-success">下载</span></a></td>
        </tr>
        {%endfor%}
    </tbody>
  </table>
</html> -->
