<html>
    <title>This is Your personal Information</title>
    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
        <thead>
          <tr>
              <th>
                   <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                      <input type="checkbox" class="group-checkable" data-set="#id_booksTable .checkboxes"/>
                      <span></span>
                  </label> 
              </th>
              <th> 身份证号</th>
              <th> 姓名</th>
              <th> Email</th>
              <th> 电话号码</th>
              <th> 居住地</th>
              <th> 联系人姓名</th>
              <th> 联系人电话</th>
              <th> 联系人Email</th>
              <th> 联系人与您的关系</th>
              <th> 密码</th>
          </tr>
      </thead> 
      <tbody>
      </tbody>             
      <tbody>
          {% for item in items %}
          <tr class="odd gradeX">
              <td>
                  <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                      <input type="checkbox" class="checkboxes" value="1"/>
                      <span></span>
                  </label>
              </td>
              <td>{{ item.ID_num }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.Phone_number }}</td>
              <td>{{ item.Living_place }}</td>
              <td>{{ item.contact_name }}</td>
              <td>{{ item.contact_phone_num }}</td>
              <td>{{ item.contact_email   }}</td>
              <td>{{ item.contact_relation }}</td>
              <td>{{ item.Password }}</td>
          </tr>
          {% endfor %}
      </tbody>
  
  </table>
</html>